body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.postsContainer {
  width: 960px;
  height: 500px;
  margin: 0 auto;
}

.uiCard {
  margin: 10px;
  padding: 10px;
}
