body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 75px;
}

* {
  box-sizing: border-box;
}

h4, p {
  margin: 2px 0 2px 0;
}

th, td {
  padding: 0px !important;
  height: 0px !important;
  font-size: 15px !important;
  overflow: scroll !important;
  text-overflow: inherit !important;
}

nav {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  height: 75px;
  background-color: #545A5E;
  border-bottom: 5px solid #90C15B;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 16px 10px 0 10px;
}

.navWrapper {
  text-align: right;
}

.navButton {
  margin: 0 10px 0 10px;
  background-color: #90C15B !important; 
}

.rightAlign {
  text-align: right;
  padding: 0 0 10px 0 !important;
}

.inlineChip {
  display: inline !important;
  padding: 5px !important;
  margin: 5px !important;
}

.postsContainer {
  max-width: 960px;
  height: 500px;
  margin: 20px auto;
}

.uiCard {
  margin: 20px;
}

.cardBody {
  padding-top: 0px !important;
}


/* --- Landing page styling --- */
img{
  width: 100%;
}

.center{
  display: flex;
  direction: row;
  justify-content: center
}

.marginRight {
  margin-right: 50px;
}

.profileContainer{
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.profileSubmitButton{
  text-align: center;
}

h3{
  color: #545A5E;
  text-align: center;
  padding-top: 15px;
}
