body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.postsContainer {
  width: 960px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.post {
  width: 100% inherit;
  height: auto;
  border: 1px solid tomato;
  padding: 5px;
  margin: 10px;
}

.post_picture {
  
}
